.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;

  &-header {
    color: #273469;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-top: 76px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 180px;
      height: 0px;
      left: 48.5%;
      top: 42.8%;
      border: 1px solid #273469;
    }
  }

  button {
    margin-top: 195px;
    margin-left: auto;
  }
}